.banner {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 18px 0;
    background-image: url("./../img/banner-bg.png");
    background-size: cover;

	border-bottom: 1px solid var(--c-border);

    position: relative;



    &__text {
    }

    &__a {
        text-decoration: underline;
        margin-left: 10px;
    }

    &__close{
        display: flex;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        position: absolute;
        padding: 10px;
        top: 25%;
        right: 32px;
        cursor: pointer;

        background: darken( $c-grey , 80%);
    }
}
