.feature {

    &__container {
        padding: 90px 20px;
    }

    &__stars{
        margin-bottom: 6px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
    }

    &__info-container {
        max-width: 1060px;
    }

    &__info-title {
        padding-bottom: clamp(0.375rem, 0.248rem + 0.52vw, 0.875rem);
        font-size: clamp(1.75rem, 1.431rem + 1.31vw, 3rem);
    }

    &__info-desc {
        max-width: 1068px;
        font-size: clamp(0.875rem, 0.811rem + 0.26vw, 1.125rem);
        color: var(--c-text-grey);
    }

    &__info-btn {
        align-self: end;
        padding: 14px 20px;
        background-color: var(--c-grey10);
        &:hover{
            color: var(--c-text-white) !important;
        }
    }
}

.swiper {
    width: 100%;   
    &__container {
        padding-top: clamp(2.5rem, 1.863rem + 2.61vw, 5rem);
    }
}


.swiper-arrow-prev {
    rotate: 180deg;
}
.swiper-controls {
    display: flex;
    justify-content: space-between;

    margin-top: clamp(1.875rem, 1.556rem + 1.31vw, 3.125rem);
    padding-top: 20px;

    border-top: 1px solid var(--c-border);

    &__pagination {
        display: flex;
        gap: 10px;
    }
}
.controls {

    &__pagination-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: clamp(2.75rem, 0.125rem + 2.92vw, 3.625rem);
        width: clamp(2.75rem, 0.125rem + 2.92vw, 3.625rem);
        border: 2px solid var(--c-border);
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
    }
}
