.footer {
	padding: 26px 0;
	background-color: var(--c-grey10);
	&__container{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include tablet-small {
			flex-direction: column-reverse;
			gap: 20px;
		}
	}
	&__policy {
		display: flex;
		gap: 32px;

		@include tablet-small {
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 10px;
		}
	}

	&__nav-media {
		display: flex;
		align-items: center;
		gap: clamp(0.5rem, -0.7rem + 1.33vw, 0.625rem);
	}
}
.nav-media {

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		background-color: var(--c-body);
		transition: var(--transition);
		&:hover{
			background: var(--c-text-white);
			.nav-media__item-svg{
				path {
                    fill: var(--c-primary); 
				}
			}
		}
	}
}

