.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: clamp(3.125rem, 2.321rem + 2.23vw, 5rem);
    max-width: calc(1920px + 30px);

    padding-left: 30px;
    margin-inline: auto;

    @include tablet-small {
        display: flex;
        flex-direction: column-reverse;
        padding: 40px 16px;
    }

    &__links{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 20px;

        @include tablet-small {
            
            flex-direction: column;
        }

    }
    &__btn{
        padding: 18px 24px;
        font-size:  clamp(0.875rem, 0.78rem + 0.25vw, 1.125rem);

        @include tablet-small {
            width: 100%;
            text-align: center;
        }

        &:hover {
            color: var(--c-text-white) !important;
        }

        &--active{
            background-color: var(--c-primary);
            &:hover {
                background: darken($c-primary, 10%);
                color: var(--c-text-white) !important;
            }
        }
    }

    &__info {
        justify-self: end;
    }

    &__info-title {
        max-width: 758px;
        font-size: clamp(1.75rem, 1.08rem + 2vw, 3.75rem);
        line-height: 120%;
        font-weight: 600;

        margin-bottom: clamp(1rem, 0.874rem + 0.63vw, 1.5rem);
    }

    &__info-text {
        font-size: clamp(0.875rem, 0.78rem + 0.25vw, 1.125rem);
        max-width: 758px;

        line-height: 150%;
        color: var(--c-text-grey);

        margin-bottom: clamp(2.5rem, 2.185rem + 1.57vw, 3.75rem);


    }

    &__img {
	    background-color: var(--c-grey10);
        background-image: url('./../img/welcome-img-bg.png'); 

        @include tablet-small {
            border-radius: 15px;
            border: 1px solid var(--c-border);
            
        }
        img {
            height: clamp(25.625rem, 7.743rem + 35.94vw, 50.875rem);
            object-fit: cover;

            @include tablet-small {
                border-radius: 15px;
                height: unset;
            }
        }
    }


    &__subs {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: clamp(0.75rem, 0.466rem + 0.79vw, 1.25rem);
        margin-top: clamp(2.5rem, 2.185rem + 1.57vw, 3.75rem);

        max-width: 758px;

    }

    &__subs-item {
        max-width: 240px;
        width: 100%;
        padding: 16px 24px;
        border-radius: 5px;
        border: 2px solid var(--c-border);
        background-color: var(--c-grey10);
        @include laptop {
            padding: 14px clamp(1rem, 0.833rem + 0.46vw, 1.25rem);
        }
    }

    .subs-item {

        &__count {
            font-size: clamp(1.5rem, 1rem + 1vw, 2.5rem);
            font-weight: 800;
            line-height: 150%;
            margin-bottom: 2px;
        }

        &__text {
            color: var(--c-text-grey);
            font-size: clamp(0.875rem, 0.78rem + 0.25vw, 1.125rem);
        }
    }

}
