// breakpoints
$laptop: 1440px;
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$c-primary: #703BF7;
$c-body: #141414;
$c-grey: #FFFFFF;


:root {
	--ff: "Urbanist", sans-serif;
	--transition: .2s all ease-in-out;

	--c-body: #141414;
	--c-grey10: #1A1A1A;

	--c-text-white: #FFFFFF;
	--c-text-grey:#999999;
	--c-primary: #703BF7;

	--c-border: #262626;
}
