html, body {
	height: 100%;
}
body {
	font-family: var(--ff);
	color: var(--c-text-white);
	background-color: var(--c-body);
	display: grid;
	grid-template-rows: auto 1fr auto;

	font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
}

a {
	color: var(--c-text-white);
	transition: var(--transition);
	&:hover{
		color: var(--c-primary);
	}
}
.container {
	max-width: calc(1596px + 40px);
	padding: 0 20px;
	margin-inline: auto;
}
.main {
	padding: 20px;
}


.header__tab-control{
	background: none;
	&:hover {
		background: lighten($c-body, 10%);	
	}

	&--active{
		padding: 16px 24px;
		background: var(--c-body) !important;
		outline: 1px solid var(--c-border);	
	}
}

.btn {
	display: inline-block;
	color: var(--c-text-white);
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	padding: 13px 18px;
	transition: var(--transition);

	&_primary {
		background: var(--c-body);
		padding: 16px 24px;
		outline: 1px solid var(--c-border);	


		&:hover {
			background: darken($c-primary, 5%);
		}
	}

	&--active{
		background-color: var(--c-primary);
		&:hover {
			background: darken($c-primary, 10%);
			color: var(--c-text-white) !important;
		}
	}
}


.none {
	display: none !important;
}
